@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,100,300,200);
body {
   font-family: 'Lato', sans-serif;
   font-weight:400;
}
h1{
  font-family: 'Exo', sans-serif;
  font-weight:100;
}
h2{
  font-family: 'Exo', sans-serif; 
  font-weight:200; 
}
h3{
  font-family: 'Exo', sans-serif;  
  font-weight:300; 
}
h4{
  font-family: 'Exo', sans-serif;  
  font-weight:500;  
}
h5{
  font-family: 'Lato', sans-serif;
  font-weight:700;  
}
p{
  font-family: 'Lato', sans-serif;
  font-weight:400; 
  line-height:1.5em;
}